/* Les Variables */
:root{
  /* Colors*/
  --Soft_black: #01011D;
  --Paragraph_col: #03045E;
  --Glass_paragraph_col: #03045E80;
  --CTA_col: #0077B6;
  --Button_col: #42A5D9;
  --Glass_button_col: #42A5D980;
  --Icon_col: #90E0EF;
  --Darken_white: #F9F9F9;
  --Glass_darken_white: #F9F9F980;

  /* Font items simplified */
  --semi_bold: 600;
  --medium: 500;

  /* Border Radius */
  --radius: 20px;
}
/* Source Code Couleur Hex Pour La Trancparence: https://css-tricks.com/8-digit-hex-codes/*/

/* ça c'etait déjà là */
html {
  height: 100%;
  width: 100%;
}
/* Modification to all*/
*{
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body{
  background-color: var(--Broken_white);
}
img{
  width: 100%;
}


/* Text Items */
h1{
  font-weight: bold;
  font-size: 80px;
}
h2{
  font-weight: var(--semi_bold);
  font-size: 50px;
}
h3{
  font-weight: var(--medium);
  font-size: 22px;
}
p{
  font-size: 18px;
}
.highText{
  font-weight: bold;
  font-size: 18px;
}
a{
  text-decoration: none;
  color: var(--Paragraph_col);
  padding: 20px 0px;
}

/* Button */
button{
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  border-radius: var(--radius);
  color: var(--Broken_white);
  background-color: var(--CTA_col);
  padding: 20px 50px;
	border: none;
}
.buttonInactive{
  background-color: var(--Broken_white);
  color: var(--CTA_col);
  border: solid 1px var(--CTA_col);
}

/* Header */
header{
  background-image: url(backdrop.png);
  background-size: cover;
  height: 100vh;
}
#logo{
  display: inline-block;
  width: 84px;
}
nav{
  padding: 10px 50px;
  background-color: var(--Broken_white);
  display: flex;
  align-items: center;
  /* position: fixed; */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 5%);
  height: 12%;
}
.sectionFlex5050{
  width: 50%;
  display: flex;
  align-items: center;
}
.sectionFlexSpaceEven{
  justify-content: space-evenly;
  height: 100%;
}
